body {
    font-family: 'Montserrat', sans-serif;
    background: color #f5f7fa;
    margin: 20px 20px 20px 20px;
}

a{
    text-decoration: none;
}
.main-contain{
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
    background: #fff;
    margin: 40px, auto;
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.1); */
}
/* main contain section */
.main-contain-section{
    padding: 100px 90px;
}
/* about me section */
.about-me-section{
 margin-bottom: 0 0 40px 0;
}

.about-me-profession {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin-bottom: 20px;
}

.about-me-name{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000;
    margin-bottom: 20px;
}
.about-me-description{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
/* my project section */
.my-projects-section{
   margin: 0 0 50 0;
}
.main-contain-title{ 
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000;
    margin-bottom: 10px;
    background-color: rgba(10, 35, 55, 0.5);
}
.my-projects-list{
    padding: 0 0 0 17px;
}
.projects-item{
    color: #000;
    font-weight: bold;
}
.project-link-head{
    font-weight: bold;
    text-decoration: underline;

}
.project-link-item{
    text-decoration: underline;
    font-weight: bold;
    color: #595959;
}
.project-link-item:hover{
    color: #FB6D3A;
}
.my-project-text{
    color: #595959;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-left: 5px;
}
.project-link{
    color: #595959;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

}
.project-link:hover{
    color: #FB6D3A;
}
.project-bracket{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000;
}
/* my work experience */
.my-work-experience-position{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    margin: 0 0 10px 0;
}
.my-work-company{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;;
}
.work-experience-time{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 10px 0;
}
.my-work-experience-div{
    color: #000;
}
.my-work-experience-duties{
    padding: 0 0 0 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.my-work-experience-company{
    padding: 0 20px 0 0;

}
.education-section{
    padding: 0 0 0 0;
}
/* sidebad section */

.image {
    width: 370px;
}
.sidebar-section{
    background: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.contact-section,
.tech-skills-section,
.soft-skills-section{
    margin: 50px 0 0 40px;
}

.sidebar-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 10px;
}
/* contact section */

.contact-section-link{
    color: #C7CACE;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
.skills-list{
    padding: 0 0 0 17px;
}
.skills-item{
    color: #FB6D3A;}
.skills-item-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}